<div align="center">
	<div>
		<div class="auth_title">
			<label class="hs_title">Login to Foursquare</label>

      <%= link_to "Authenticate", 
			"https://foursquare.com/oauth2/authenticate?client_id=#{client_id}&response_type=#{response_type}&redirect_uri=#{redirect_uri}", 
			:class=>"hs_btn-cmt auth", 
			:style=>"text-decoration: none",
			"data-loading-text"=>"Please Wait ..." %>
			
		</div>
	</div>
	<br/>
	<div>
		<div class="auth_title">
			<label class="hs_title">Foursquare is a location-based social networking website for mobile devices, such as smartphones. Users "check in" at venues using a mobile website, text messaging or a device-specific application by selecting from a list of venues the application locates nearby. </label>

			<%= link_to "Learn More", 
			"http://www.foursquare.com/", 
			:class=>"hs_btn-cmt",
			:style=>"text-decoration: none",
			:target=>"_blank",
			"data-loading-text"=>"Please Wait ..." %>
			
		</div>
	</div>
</div>
