
<div style="margin-top:50px;padding:10px;">

  <%= link_to "Sign out", session_path(:id => @user_session.id), :method=>"delete" %>

</div>

  <!-- Stream -->
	
	<div class="hs_stream">
		
		
		<!-- =========== -->
		<!-- = Top Bar = -->
		<!-- =========== -->
		
		<div class="hs_topBar">
			
			<div class="hs_content">
				
				<!-- ICONS -->
				<div class="hs_controls"><a href="#" dropdown="_writeMessage" title="Write Message"><span class="icon-19 write"></span></a><a href="#" dropdown="_search" title="Search"><span class="icon-19 search"></span></a><a href="#" dropdown="_settings" title="Settings"><span class="icon-19 settings"></span></a><a href="#" dropdown="_menuList" title="More"><span class="icon-19 dropdown"></span></a></div>
				
				<!-- CUSTOM CONTENT -->
				Top bar
				
			</div>
			
			<!-- DROPDOWNS -->
			<div class="hs_dropdown">
				
				<!-- WRITE MESSAGE -->
				<div class="_writeMessage hs_btns-right">
					<textarea></textarea>
					<div class="hs_btns-right">
						<a class="hs_btn-cmt" href="#">Send</a>
					</div>
				</div>
				
				<!-- SEARCH -->
				<div class="_search hs_btns-right">
					<input type="text" />&nbsp;<a class="hs_btn-cmt">Search</a>
				</div>
				
				<!-- SETTINGS -->
				<div class="_settings hs_btns-right">
					<a href="#">Settings Link</a>
					<label class="hs_title"><input type="checkbox" /> Setting 1</label>
					<a class="hs_btn-cmt" href="#">Save</a>
				</div>
				
				<!-- MENU LIST -->
				<div class="_menuList hs_btns-right">
					<a href="#">dropdown link 1</a>
					<hr />
					<a href="#">dropdown link 2</a>
					<hr />
					<a href="#">dropdown link 3</a>
				</div>
				
			</div>
		</div>
		<div class="hs_topBarSpace"></div><!-- Spacer underneath "hs_topBar" to prevent clipping of content --> 
		
		<!-- EMPTY NODE EXAMPLE --> 
		<div class="hs_noMessage">
			Themes:
			<a class="hs_btn-cmt" href="?theme=blue_steel">Blue Steel</a>
			<a class="hs_btn-cmt" href="?theme=magnum">Magnum</a>
			<a class="hs_btn-cmt" href="?theme=classic">Classic</a>
		</div>
		<div class="hs_noMessage">
			Space for a user message or other text
		</div>
		
		
		
		<!-- ==================== -->
		<!-- = MESSAGE TEMPLATE = -->
		<!-- ==================== -->
		<!-- 
		NOTE: This template contains all possible elements at once.
		      Re-use only what you need and
		
		      =============================
		      = read the in-line comments =
		      =============================
		
		API documentation: https://sites.google.com/site/hootsuiteappdevelopers/jsapi
		
		 -->
		<div class="hs_message">
			
			
			<!-- MESSAGE CONTROLS -->
			
			<div class="hs_controls">
				<!--
				NOTE: Do not show more than 4 icons. Use the dropdown if you need 5 or more.
				
				"Share" links should open the Compose Message dialog in the HootSuite dashboard via hsp.composeMessage()
				-->
				<a href="#" class="hs_icon hs_reply" title="Share">Share</a>
				<a href="#" class="hs_icon hs_replyAll" title="Reply All">Reply All</a>
				<a href="#" class="hs_icon hs_retweet" title="Retweet">RT</a>
				<a href="#" class="hs_icon hs_directMessage" title="Direct Message">DM</a>
				<a href="#" class="hs_icon hs_email" title="Email">Email</a>
				<a href="#" class="hs_icon hs_favorite" title="Favorite">Favorite</a>
				
				<!-- DROPDOWN: -->
				<a href="#" class="hs_icon hs_expand">more...</a>
				<div class="hs_moreOptionsMenu">
					<a href="#">w/o icon</a>
					<a href="#" class="hs_padded">padded</a>
					<a href="#"><span class="hs_icon hs_reply"></span>Share</a>
					<a href="#"><span class="hs_icon hs_replyAll"></span>Reply All</a>
					<a href="#"><span class="hs_icon hs_retweet"></span>RT</a>
					<a href="#"><span class="hs_icon hs_directMessage"></span>DM</a>
					<a href="#"><span class="hs_icon hs_email"></span>Email</a>
					<a href="#"><span class="hs_icon hs_favorite"></span>Favorite</a>
				</div>
			</div>
			
			
			<!-- MESSAGE -->
			<!--
			Clicking on a username or avatar should open the user's bio via hsp.customUserInfo()
			or hsp.showUser(twitterHandle) for Twitter users
			-->
			<a href="#" class="hs_networkAvatarLink"></a><img class="hs_networkAvatar" src="" alt="[Username or Heading]">
			
			<a href="#" class="hs_networkName">Username or Heading</a>
			
			<!-- This should link out directly to the source message or story -->
			<a href="[PERMALINK / SOURCE URL]" class="hs_postTime" target="_blank">Jan 01, 12:34am via [Platform or Username]</a>
			
			<div class="hs_messageContent">
				Message Content...
				<a href="#" class="demo_user_info">This link</a> opens a user info popup (when called from within the dashboard).
			</div>
			
			
			<!-- ATTACHMENT -->
			
			<div class="hs_postAttachment">
				
				<!-- This should link out directly to the source page -->
				<a class="hs_attachedLink " href="http://ow.ly/6Ou4N" target="_blank">
					<!-- Thumb: max. 130x200px (gets scaled down automatically) -->
					<img alt="Owly Graduate" src="/assets/owly-graduate-90x90.jpg">
				</a>
				
				<div class="hs_title">
					<!-- This should link out directly to the source page -->
					<a href="http://ow.ly/6Ou4N" target="_blank">HootSuite University, Social Media Certification</a>
				</div>
				
				<div class="hs_caption">ow.ly</div><!-- The link's domain name -->
				<div class="hs_description">
					The HootSuite University program is designed for professionals seeking to increase skills in HootSuite and other social media tools and tactics.
				</div>
				
			</div>
			
							
			<!-- COMMENTS -->
			
			<div class="hs_messageComments">
				<span class="hs_arrow">☗</span>
				
				<!-- Likes, # of comments, external links to discussion etc. -->
				<div class="hs_comment hs_details">
					 <a href="#">123 people</a> like this
				</div>
				<div class="hs_comment hs_details">
					View all <a href="#">10 comments</a>
				</div>
				
				<!--
				Clicking on a username or avatar should open the user's bio via hsp.customUserInfo()
				or hsp.showUser(twitterHandle) for Twitter users
				-->
				<div class="hs_comment">
					<a title="Username" class="hs_networkAvatarLink" href="#"></a><img class="hs_networkAvatar" src="https://s3.amazonaws.com/twitter_production/profile_images/1168118802/512px-icon-bb_normal.png" alt="Username">
					<p class="hs_commentContent">
						<a title="Username" class="hs_networkName" href="#">Username</a>: 
						Comment
						<span class="hs_date">Jan 01, 12:34am [via Platform]</span>
					 </p>
				</div>
				
				<div class="hs_comment">
					<a title="Username" class="hs_networkAvatarLink" href="#"></a><img class="hs_networkAvatar" src="https://s3.amazonaws.com/twitter_production/profile_images/1165734538/512px-icon-iheartowl_normal.png" alt="Username">
					<p class="hs_commentContent">
						<a title="Username" class="hs_networkName" href="#">Username</a>: 
						Comment
						<span class="hs_date">Jan 01, 12:34am [via Platform]</span>
					 </p>
				</div>
				
				<div class="hs_comment hs_originalComment">
					<a title="Username" class="hs_networkAvatarLink" href="#"></a><img class="hs_networkAvatar" src="https://s3.amazonaws.com/twitter_production/profile_images/576275082/hootsuite-help-icon-512px-original_normal.png" alt="Username">
					<p class="hs_commentContent">
						<a title="Username" class="hs_networkName" href="#">Username</a>: 
						Comment
						<span class="hs_date">Jan 01, 12:34am [via Platform]</span>
					 </p>
				</div>
				
				<!-- Post a Comment -->
				<div class="hs_commentEntry hs_comment">
					<textarea></textarea>
					<div class="hs_btns hs_btns-right">
						<a class="hs_btn-del" href="#">Cancel</a>
						<a class="hs_btn-cmt" href="#">Comment</a>
					</div>
				</div>
				
			</div>
			
		</div>
		
		
		
		<!-- ======================== -->
		<!-- = Some Sample Messages = -->
		<!-- ======================== -->
		
		<div class="hs_message">
			
			<div class="hs_controls">
				<a href="#" class="hs_icon hs_reply" title="Share">Share</a>
				<a href="#" class="hs_icon hs_favorite" title="Favorite">Favorite</a>
				
				<a href="#" class="hs_icon hs_expand">more...</a>
				<div class="hs_moreOptionsMenu">
					<a href="#"><span class="hs_icon hs_replyAll"></span>Reply All</a>
					<a href="#"><span class="hs_icon hs_retweet"></span>RT</a>
					<a href="#"><span class="hs_icon hs_directMessage"></span>DM</a>
					<a href="#"><span class="hs_icon hs_email"></span>Email</a>
				</div>
			</div>
			
			<a href="#" class="hs_networkAvatarLink" title="Username" is-draggable="1"></a><img class="hs_networkAvatar" src="https://s3.amazonaws.com/twitter_production/profile_images/576275082/hootsuite-help-icon-512px-original_normal.png">
			<a href="#" class="hs_networkName" title="Username">Username</a>
			<a href="http://twitter.com/HootSuite_Help/status/636825056055297" class="hs_postTime" target="_blank">Sep 29, 11:53am via HootSuite</a>
			<div class="hs_messageContent">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec diam quam, et viverra purus. Fusce venenatis tortor sed lacus varius ut aliquet leo vulputate. Integer dui nunc, pellentesque et consequat eget, facilisis non lectus. Curabitur a ligula eget mi vulputate blandit. Ut sed mauris massa, vitae porta turpis.			</div>
			
			<div class="hs_messageComments">
				<span class="hs_arrow">☗</span>
				
				<!-- Compact comments and likes display: add class hs_inlineDetails -->
				
				<div class="hs_comment hs_details hs_inlineDetails">
					 <a href="#">0 likes</a>
					&nbsp;&nbsp;
					<a href="#">0 comments</a>
				</div>
			</div>
			
		</div>
		
		<div class="hs_message">
			<div class="hs_controls">
				<a href="#" class="hs_icon hs_reply" title="Reply">Reply</a>
				<a href="#" class="hs_icon hs_favorite" title="Favorite">Favorite</a>
				
				<a href="#" class="hs_icon hs_expand">more...</a>
				<div class="hs_moreOptionsMenu">
					<a href="#"><span class="hs_icon hs_replyAll"></span>Reply All</a>
					<a href="#"><span class="hs_icon hs_retweet"></span>RT</a>
					<a href="#"><span class="hs_icon hs_directMessage"></span>DM</a>
					<a href="#"><span class="hs_icon hs_email"></span>Email</a>
				</div>
			</div>
			<a title="Username" href="#" class="hs_networkAvatarLink"></a><img class="hs_networkAvatar" src="https://s3.amazonaws.com/twitter_production/profile_images/576281063/hootsuite-iphone-icon-512px-original_normal.png">
			<a title="Username" class="hs_networkName" href="#">Username</a>
			<a target="_blank" href="http://twitter.com/HootSuiteiPhone/status/1765521028554752" class="hs_postTime">Jan 01, 12:34am via HootSuite</a>
			<div class="hs_messageContent">For more information on HootSuite, follow @<a title="HootSuite" href="#">HootSuite</a> and @<a title="HootSuite_Help" href="#">HootSuite_Help</a></div>
		</div>
		
		<div class="hs_message">
			<div class="hs_controls">
				<a href="#" class="hs_icon hs_reply" title="Reply">Reply</a>
				<a href="#" class="hs_icon hs_favorite" title="Favorite">Favorite</a>
				
				<a href="#" class="hs_icon hs_expand">more...</a>
				<div class="hs_moreOptionsMenu">
					<a href="#"><span class="hs_icon hs_replyAll"></span>Reply All</a>
					<a href="#"><span class="hs_icon hs_retweet"></span>RT</a>
					<a href="#"><span class="hs_icon hs_directMessage"></span>DM</a>
					<a href="#"><span class="hs_icon hs_email"></span>Email</a>
				</div>
			</div>
			<a title="Username" href="#" class="hs_networkAvatarLink"></a><img class="hs_networkAvatar" src="https://s3.amazonaws.com/twitter_production/profile_images/541333937/hootsuite-icon_normal.png">
			<a title="Username" class="hs_networkName" href="#">Username</a>
			<a target="_blank" href="http://twitter.com/HootSuite/status/661876870483969" class="hs_postTime">Jan 01, 12:34am via HootSuite</a>
			<div class="hs_messageContent">This is sample text for the message body <a href="#" class="hs_hash" title="HashTagExample">#HashTagExample</a></div>
		</div>
		
		<div class="hs_message">
			<div class="hs_controls">
				<a href="#" class="hs_icon hs_reply" title="Reply">Reply</a>
				<a href="#" class="hs_icon hs_favorite" title="Favorite">Favorite</a>
				
				<a href="#" class="hs_icon hs_expand">more...</a>
				<div class="hs_moreOptionsMenu">
					<a href="#"><span class="hs_icon hs_replyAll"></span>Reply All</a>
					<a href="#"><span class="hs_icon hs_retweet"></span>RT</a>
					<a href="#"><span class="hs_icon hs_directMessage"></span>DM</a>
					<a href="#"><span class="hs_icon hs_email"></span>Email</a>
				</div>
			</div>
			<a title="Username" href="#" class="hs_networkAvatarLink"></a><img class="hs_networkAvatar" src="https://s3.amazonaws.com/twitter_production/profile_images/1168118802/512px-icon-bb_normal.png">
			<a title="Username" class="hs_networkName" href="#">Username</a>
			<a target="_blank" href="http://twitter.com/iamgavitron/status/4311897587322880" class="hs_postTime">Jan 01, 12:34am via HootSuite</a>
			<div class="hs_messageContent">This is sample text for the message body</div>
			
		</div>
		
		<div class="hs_message">
			<div class="hs_controls">
				<a href="#" class="hs_icon hs_reply" title="Reply">Reply</a>
				<a href="#" class="hs_icon hs_favorite" title="Favorite">Favorite</a>
				
				<a href="#" class="hs_icon hs_expand">more...</a>
				<div class="hs_moreOptionsMenu">
					<a href="#"><span class="hs_icon hs_replyAll"></span>Reply All</a>
					<a href="#"><span class="hs_icon hs_retweet"></span>RT</a>
					<a href="#"><span class="hs_icon hs_directMessage"></span>DM</a>
					<a href="#"><span class="hs_icon hs_email"></span>Email</a>
				</div>
			</div>
			<a title="Username" href="#" class="hs_networkAvatarLink"></a><img class="hs_networkAvatar" src="https://s3.amazonaws.com/twitter_production/profile_images/1158522018/512px-icon-hootsuite-hsu_normal.png">
			<a title="Username" class="hs_networkName" href="#">Username</a>
			<a target="_blank" href="http://twitter.com/HootSuite/status/661876870483969" class="hs_postTime">Jan 01, 12:34am via HootSuite</a>
			<div class="hs_messageContent">This is sample text for the message body</div>
		</div>
		
		
		
		<!-- ======================== -->
		<!-- = Sample Form Elements = -->
		<!-- ======================== -->
		
		<div class="hs_message">
			
			<span class="hs_networkName">Sample Form Elements</span>
			<p>
				Beow are some sample form elements for re-use anywhere in the stream.
			</p>
			
			<label class="hs_title">Input:<br /><input type="text" /></label>
			<label class="hs_title">Textarea:<br /><textarea style="width: 158px;"></textarea></label>
			<label class="hs_title">Textarea with info below:</label><textarea style="width: 158px;"></textarea><p class="hs_subDesc">Description text or more information</p>
			<label class="hs_title">Textarea with info above:</label><p class="hs_supDesc">Description text or more information</p><textarea style="width: 158px;"></textarea>
			<div class="hs_btns">
				<a class="hs_btn-del" href="#">Cancel</a>&nbsp;<a class="hs_btn-cmt" href="#">Submit</a>
			</div>
			
		</div>
		
		
	</div><!-- .hs_stream -->
	
	
	
	<!-- ================== -->
	<!-- = LOAD MORE LINK = -->
	<!-- ================== -->
	<!-- 
	This should be triggered automatically when the scroll position nears the
	the bottom of the stream.
	 -->

	<div id=""><!-- optional wrapper div -->
		<a href="#" class="hs_messageMore">Show More</a>
	</div>
  
	<script type="text/javascript">
	
	$(document).ready(function() {
		// Notes:
		// * To prevent conflicts, run hsp.init() either before including jQuery or in $(document).ready().
		// * In order for hsp.bind() and hsp.updatePlacementSubtitle() to work, you need to set up an
		//   App Receiver and provide its absolute URL in the receiverPath parameter.
		//   See https://sites.google.com/site/hootsuiteappdevelopers/jsapi
		
		hsp.init({
			apiKey: 'app-exchange-demo',
			useTheme: true
		});
	
		// hsp.bind() example (requires App Receiver):
		// 
		// hsp.bind('refresh', function() {
		// 	window.location.reload();
		// });
		
		// Top bar controls and drop downs
		// 
		$('.hs_topBar .hs_controls a').click(function(e) {

			var $control = $(this),
				$dropdown = $('.hs_topBar .hs_dropdown');

			$dropdown.children().hide();

			if ($control.attr('dropdown').length) {
				$dropdown.children('.' + $control.attr('dropdown')).show();
			}

			if($dropdown.is(':visible') && $control.hasClass('active')) {
				$dropdown.hide();
			} else {
				$dropdown.show();
				if($control.attr('dropdown') == '_search') {
					$dropdown.find('.' + $control.attr('dropdown') + ' input[type="text"]').first().focus();
				}
				if($control.attr('dropdown') == '_writeMessage') {
					$dropdown.find('.' + $control.attr('dropdown') + ' textarea').first().focus();
				}
			}

			$control.siblings('.active').removeClass('active');
			$control.toggleClass('active');

			e.preventDefault();
		});

		// Message controls dropdown
		// 
		$('.hs_stream').delegate('.hs_message .hs_controls a.hs_expand', 'click', function(e) {
			$(this).parent().find('.hs_moreOptionsMenu').toggle();
			e.preventDefault();
		});
		$('.hs_stream').delegate('.hs_message .hs_controls .hs_moreOptionsMenu', 'mouseleave', function(e) {
			$(this).hide();
		});
		
		
		// Demo functionality
		// 
		$('.demo_user_info').click(function(a){
			
			hsp.customUserInfo({
			    "fullName": "David Chan",
			    "screenName": "@chandavid",
			    "avatar": "https://s3.amazonaws.com/twitter_production/profile_images/1121921263/dc.png",
			    "profileUrl": "http://twitter.com/chandavid",
			    "userLocation": "Vancouver, BC",
			    "bio": "JavaScript/web/martini developer. Working on @HootSuite. Making by breaking.",
			    "extra": [
			        {"label": "Age", "value": "Unknown"},
			        {"label": "Gender", "value": "Male"}
			    ],
			    "links": [
			        {"label": "HootSuite", "url": "http://hootsuite.com"},
			        {"label": "Blog", "url": "http://blog.hootsuite.com"}
			    ]
			});
			
			e.preventDefault();
		});
		
		$('.hs_message .hs_controls a.hs_reply').live('click', function(e) {
			hsp.composeMessage('pre-defined message text');
			e.preventDefault();
		});
		
	});
	
	</script>