<!DOCTYPE html>
<!-- saved from url=(0098)https://hootsuite.com/dc_receiver.html#?action=init&p1=&p2=830300990287&key=app-exchange-demo&pid= -->
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>dc</title>
  </head>
  <body>
    <script type="text/javascript" src="dc_receiver.js"></script>
  </body>
</html>